.infa{
    padding: 100px;
}
img{
    width: 364px;
    height:242px;
}
body {

}

header {

}


a {

}

main {

}

footer {
  
}

a:hover {

}

h2 {

}
p {
  
}

.poshyc{
    border-radius: 20px;
    width: 1,336;
    height: 110;
    top: 246;
    left: 52px;
    
}


