.infa{
    padding: 100px;
}
img{
    width: 364px;
    height:242px;
}
body {

}

header {

}

div {

}


a {

}

main {

}

footer {
  border-radius: 40px;
    background-color:black;
    width:1330;
    height:150;
}

a:hover {

}

h2 {

}
p {
  
}
.github{
   border-radius: 10px; 
   width: 100px;
   height:100px;
}

.discord{
    border-radius: 10px;
    width: 100px;
    height:100px;
}

.tiktok{
    border-radius: 10px;
       width: 100px;
       height:100px;
}


