@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  max-width: 1440px;
  margin: 4px;
}
.infa {
  padding: 100px;
}
img {
  width: 364px;
  height: 242px;
}
body {
}

header {
}

div {
}

a {
}

main {
}

footer {
}

a:hover {
}

h2 {
}
p {
}

.game-card {
  display: flex;
  background: #ddd;
  padding: 10px;
  border-radius: 6px;
  max-width: 800px;
  gap: 15px;
  margin: 0 auto; 
}

/* велике зображення */
.main-image img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
}

.right-side {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-weight: bold;
}

.small-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6px;
  margin-bottom: 12px;
}

.small-images img {
  width: 100%;
  height: 90px;
  object-fit: cover;
  border-radius: 3px;
}

.message {
  font-size: 14px;
  font-style: italic;
}

@media (max-width: 768px) {
  .game-card {
    flex-direction: column;
    align-items: center;
  }

  .main-image img {
    width: 100%;
    height: auto;
  }

  .small-images img {
    height: auto;
  }

  .right-side {
    width: 100%;
    text-align: center;
  }
}